<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Chủ tịch giả nghèo đi học lái xe</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- Favicons -->
  <link rel="icon" href="<?php echo get_template_directory_uri(); ?>/assets/img/favicon.png" />
  <link rel="apple-touch-icon" href="<?php echo get_template_directory_uri(); ?>/assets/img/apple-touch-icon.png" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="<?php echo get_template_directory_uri(); ?>/assets/vendor/bootstrap/css/bootstrap.min.css"
    rel="stylesheet">

  <!-- Main CSS File -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Driff CAR</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Trang chủ</a></li>
          <li><a href="#about">Chúng tôi</a></li>
          <li><a href="#services">Dịch vụ</a></li>
          <li><a href="#portfolio">Câu hỏi lý thuyết</a></li>
          <li><a href="./hello.html">Câu hỏi mô phỏng</a></li>
          <li><a href="#team">Đội ngũ</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Liên hệ</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="index.html#about">Bắt đầu thôi nào</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
            <h1>Chinh Phục Mọi Con Đường</h1>
            <p>Khóa học lái xe của chúng tôi giúp bạn tự tin điều khiển xe từ những bước đầu tiên đến khi trở thành tài
              xế chuyên nghiệp. Với phương pháp đào tạo hiệu quả, bạn sẽ học từ cơ bản đến nâng cao, vượt qua mọi thử
              thách trên đường. Đảm bảo an toàn và thành công với chứng chỉ lái xe sau khóa học!</p>
            <div class="d-flex">
              <a href="#about" class="btn-get-started">Bắt đầu</a>
              <a href="https://www.youtube.com/watch?v=RB_Kh0NgMDE"
                class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Về
                  chúng tôi</span></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="100">
            <img
              src="https://phapluatxahoi.kinhtedothi.vn/stores/news_dataimages/2022/072022/23/18/in_article/b9efd00e192dab268bb8016a6f4f4703.jpg?rt=20220723180235"
              class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-activity icon"></i></div>
              <h4><a href="" class="stretched-link">Quá trình</a></h4>
              <p>Đào Tạo Lái Xe Chuyên Nghiệp – Chinh Phục Bằng Lái Xe Dễ Dàng</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="" class="stretched-link">Lộ Trình Học Lái Xe</a></h4>
              <p>Từ Mới Bắt Đầu Đến Lái Xe Thành Thạo – Khóa Học Tạo Dựng Kỹ Năng Lái Xe</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
              <h4><a href="" class="stretched-link">Lịch trình</a></h4>
              <p>Lịch trình linh hoạt - Phù hợp mọi cá nhân mọi đối tượng.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Về chúng tôi<br></span>
        <h2>Chúng tôi</h2>
        <p>Chinh phục mọi con đường và trở thành một tài xế an toàn, tự tin.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="<?php echo get_template_directory_uri(); ?>/assets/img/about.png" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=pUPsKS_eF0U" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Tầm Nhìn và Sứ Mệnh</h3>
            <p class="fst-italic">
              Tầm nhìn của chúng tôi là trở thành trung tâm đào tạo lái xe hàng đầu, nơi cung cấp các khóa học chất
              lượng cao, an toàn và hiệu quả nhất.
            </p>
            <p class="fst-italic">
              Sứ mệnh của chúng tôi là không chỉ giúp học viên vượt qua kỳ thi lái xe mà còn trang bị cho họ những kỹ
              năng quan trọng để lái xe an toàn trên mọi nẻo đường.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Đội ngũ giảng viên của chúng tôi là những chuyên gia giàu kinh
                  nghiệm, được đào tạo bài bản và tận tâm với nghề.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Các khóa học được thiết kế từ cơ bản đến nâng cao, giúp học
                  viên tự tin và sẵn sàng đối mặt với mọi tình huống khi tham gia giao thông.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Các khóa học của chúng tôi luôn đảm bảo chất lượng đào tạo, với
                  những tài liệu học tập và phương tiện giảng dạy tiên tiến.</span></li>
            </ul>
            <p>
              Chúng tôi áp dụng phương pháp đào tạo linh hoạt và hiệu quả, kết hợp giữa lý thuyết và thực hành, đảm bảo
              học viên không chỉ học thuộc lòng lý thuyết mà còn rèn luyện được kỹ năng thực tế trên đường.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="800" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Học Viên</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Khóa Học </p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Giờ Hỗ Trợ</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Giảng Viên</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Dịch vụ</span>
        <h2>Dịch vụ</h2>
        <p>Dịch vụ học lái xe chuyên nghiệp, giúp bạn tự tin và an toàn khi tham gia giao thông. Dưới đây là các dịch vụ
          chính mà chúng tôi cung cấp:
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Khóa Học Lái Xe Ô Tô Cơ Bản
                </h3>
              </a>
              <p>Dành cho những người mới bắt đầu, khóa học này giúp bạn làm quen với các kỹ năng cơ bản như điều khiển
                xe, sử dụng hệ thống phanh, ga, côn và các kỹ năng lái xe cơ bản khác.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Khóa Học Lái Xe Ô Tô Nâng Cao</h3>
              </a>
              <p>Khóa học này dành cho những ai đã có kinh nghiệm lái xe cơ bản nhưng muốn cải thiện kỹ năng lái xe
                trong các tình huống phức tạp hơn như lái xe trong điều kiện thời tiết xấu, đổ đèo, lùi xe, vượt xe
                khác.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Học Lái Xe Cho Người Bận Rộn</h3>
              </a>
              <p>Dịch vụ học lái xe linh hoạt, phù hợp với người có lịch trình bận rộn. Chúng tôi cung cấp các buổi học
                vào cuối tuần hoặc buổi tối để bạn không phải lo lắng về thời gian.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Khoá học hạng B1</h3>
              </a>
              <p>Khóa học B1 dành cho những người có nhu cầu lái xe ô tô cá nhân. Đây là khóa học phổ biến nhất cho
                những ai lần đầu học lái xe.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Khóa Học Lái Xe Hạng B2 </h3>
              </a>
              <p>Khóa học B2 dành cho những ai muốn lái xe ô tô cho mục đích kinh doanh như lái xe taxi, dịch vụ vận
                chuyển, hay lái xe ô tô cá nhân trong các công ty, doanh nghiệp.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Khóa Học Lái Xe Hạng C </h3>
              </a>
              <p>Khóa học hạng C dành cho những người có nhu cầu lái xe tải, xe khách, hoặc các phương tiện có trọng tải
                lớn (từ 9 chỗ trở lên), dùng cho công việc vận tải hoặc du lịch.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Section Title</span>
        <h2>Team</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="<?php echo get_template_directory_uri(); ?>/assets/img/team/team-1.jpg"
                  class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="<?php echo get_template_directory_uri(); ?>/assets/img/team/team-2.jpg"
                  class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic">
                <img src="<?php echo get_template_directory_uri(); ?>/assets/img/team/team-3.jpg" alt="Team Member">
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Nhận xét từ khách hàng</span>
        <h2>Nhận xét từ khách hàng</h2>
        <p>Chúng tôi tự hào khi nhận được những lời khen và phản hồi tích cực từ học viên đã hoàn thành khóa học tại
          trung tâm.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper" data-speed="600" data-delay="5000"
          data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" "="">
            <p>
              <i class=" bi bi-quote quote-icon-left"></i>
                <span>Tôi đã hoàn thành khóa học lái xe B2 tại trung tâm và rất hài lòng với dịch vụ tại đây. Các giảng
                  viên rất nhiệt tình và chuyên nghiệp, tôi cảm thấy tự tin hơn khi lái xe trong những tình huống giao
                  thông phức tạp. Môi trường học tập rất thoải mái và trang thiết bị hiện đại, giúp tôi học nhanh và
                  hiệu quả. Rất cảm ơn Trung Tâm!</span>
                <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Anh Minh T.</h3>
                <h4>Học viên khóa B2</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Tôi đã đăng ký học lái xe B1 tại đây và thật sự rất ấn tượng. Các bài giảng lý thuyết dễ hiểu và
                    các buổi thực hành thực tế giúp tôi rất nhiều trong việc tự tin lái xe trên đường. Đặc biệt, giáo
                    viên rất kiên nhẫn và luôn sẵn sàng giải đáp thắc mắc của tôi. Tôi hoàn toàn tin tưởng và khuyên mọi
                    người đến học tại đây!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Chị Lan H.</h3>
                <h4>Học viên khóa B1</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Mình rất hài lòng với chất lượng khóa học lái xe B2 tại trung tâm. Các buổi học đều được tổ chức
                    rất chuyên nghiệp, giáo viên rất thân thiện, tận tâm và nhiệt tình. Tôi cảm thấy tự tin khi tham gia
                    kỳ thi sát hạch và đã đậu ngay lần đầu. Khuyên mọi người đến học tại đây. Cảm ơn Trung Tâm rất
                    nhiều!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Chị Thảo M.</h3>
                <h4>Học viên khóa B2</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Mình đã học lái xe B1 tại trung tâm này và thực sự rất ấn tượng với cách thức giảng dạy ở đây.
                    Giáo viên rất tận tâm và luôn theo sát từng học viên, đặc biệt là trong quá trình thực hành. Đặc
                    biệt là các buổi thực hành trong tình huống thực tế, giúp tôi xử lý tình huống giao thông một cách
                    tự tin và an toàn.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Anh Quang V.</h3>
                <h4>Học viên khóa B1</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Khóa học lái xe hạng C tại trung tâm đã giúp tôi tự tin hơn khi lái xe tải và xe khách. Tôi đã
                    được học cách xử lý các tình huống đặc thù của xe tải, từ đó có thể làm việc hiệu quả và an toàn.
                    Tôi rất cảm ơn sự hỗ trợ tận tình của giảng viên và đội ngũ nhân viên tại trung tâm!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Anh Đức K.</h3>
                <h4>Học viên khóa C</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->


    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Liên hệ với chúng tôi</span>
        <h2>Liên hệ</h2>
        <p>Thông tin liên hệ cũng như phản hồi của bạn về chúng tôi.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Địa chỉ</h3>
                  <p>Số 90 Nguyễn Chí Thanh, Láng Hạ, Đống Đa, Hà Nội</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Số điện thoại liên hệ</h3>
                  <p>+84 999 999 999</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Hộp thư điện tử</h3>
                  <p>info@example.com</p>
                </div>
              </div><!-- End Info Item -->
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.3592511350644!2d105.80537997508067!3d21.018306780628418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab6724737fe3%3A0x8dd2bf50c254d201!2zOTkgxJAuIE5ndXnhu4VuIENow60gVGhhbmgsIEzDoW5nIEjhuqEsIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1742915297442!5m2!1svi!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-7">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
              data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Tên của bạn</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Địa chỉ hộp thư</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Tiêu đề thư</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Nội dung</label>
                  <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Cảm ơn bạn đã gửi góp ý cho chúng tôi</div>

                  <button type="submit">Gửi góp ý</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Nhận thông báo từ chúng tôi</h4>
            <p>
              Đăng ký nhận bản tin của chúng tôi và nhận tin tức mới nhất về sản phẩm và dịch vụ của chúng tôi!</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Đăng ký"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Yêu cầu đăng ký của bạn đã được gửi. Cảm ơn bạn!</div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-top">
      <div class="row gy-4">



      </div>
    </div>

    <div class="container copyright text-center mt-4">

    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="<?php echo enqueue_theme_scripts(); ?>/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="<?php echo enqueue_theme_scripts(); ?>/assets/vendor/php-email-form/validate.js"></script>
  <script src="<?php echo enqueue_theme_scripts(); ?>/assets/vendor/aos/aos.js"></script>
  <script src="<?php echo enqueue_theme_scripts(); ?>/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="<?php echo enqueue_theme_scripts(); ?>/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="<?php echo enqueue_theme_scripts(); ?>/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="<?php echo enqueue_theme_scripts(); ?>/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="<?php echo enqueue_theme_scripts(); ?>/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="<?php echo enqueue_theme_scripts(); ?>/assets/js/main.js"></script>

</body>

</html>